# password file used when the local exim is authenticating to a remote
# host as a client.
#
# see exim4_passwd_client(5) for more documentation
#
# Example:
### target.mail.server.example:login:password
gmail-smtp.l.google.com:{{ mail_email }}:{{ mail_pass }}
*.google.com:{{ mail_email }}:{{ mail_pass }}
smtp.gmail.com:{{ mail_email }}:{{ mail_pass }}
